<ion-header>
    
      <ion-navbar>
        <ion-title>Création d'un compte</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    <ion-content padding>
      <ion-list>
        <ion-item>
          <ion-label color="primary" floating>Email</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label color="primary" floating>Mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label color="primary" floating>Prenom</ion-label>
          <ion-input type="text" [(ngModel)]="user.firstName"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label color="primary" floating>Nom</ion-label>
          <ion-input type="text" [(ngModel)]="user.lastName"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label color="primary" floating>Date de naissance</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="user.birthday"></ion-datetime>
        </ion-item>
    
        <ion-item>
          <ion-label color="primary" floating>Sexe</ion-label>
          <ion-select [(ngModel)]="user.sex">
            <ion-option value="Homme">Homme</ion-option>
            <ion-option value="Femme">Femme</ion-option>
          </ion-select>
        </ion-item>
    
        
        <div class="row" >
          <div class="col" ></div>
          <div class="col" >
            <button ion-button item-end color="secondary" (click)="subscribe(user)">
              <ion-icon name="checkmark-circle"> Valider</ion-icon>
            </button>
          </div>
          <div class="col" ></div>
        </div>    
      </ion-list>
    </ion-content>
    