<ion-header>
  
    <ion-navbar>
      <ion-title>Ajouter une photo</ion-title>
      <ion-buttons start>
        <button ion-button icon-only (click)="backToAlbum()" color="Greycol">
          <ion-icon name="arrow-dropleft-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Intitulé</ion-label>
        <ion-input type="text" [(ngModel)]="title"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label color="primary" floating>Description</ion-label>
        <ion-input type="text" [(ngModel)]="desc"></ion-input>
      </ion-item>  
    </ion-list>
    
    <div class="row" >
      <div class="col" text-center>
        <ion-buttons>
          <button ion-button icon-only (click)="takePhoto()" color="violette">
              <ion-icon name="camera"></ion-icon>           
          </button>
        </ion-buttons>
      </div>
      
      <div class="col" text-center>
        <ion-buttons>
          <button ion-button icon-only (click)="fileChoice()" color="violette">
              <ion-icon name="link"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </div>
      
    <div class="row" >
        <div class="col" ></div>
        <div class="col" >
          <button ion-button item-end color="secondary" (click)="validData()">
            <ion-icon name="checkmark-circle"> Valider</ion-icon>
          </button>
        </div>
        <div class="col" ></div>
    </div>
    
  </ion-content>
  