<ion-header>  
    <ion-navbar hideBackButton>
        <ion-buttons start>
            <button ion-button icon-only (click)="logOut()" color="Greycol">
              <ion-icon name="power"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons start>
          <button ion-button icon-only (click)="showProfil()" color="Greycol">
            <ion-icon name="contact"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>Album</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
      
    <ion-card *ngFor="let photo of Pictures">
      <img src="{{photo.linkPict}}"/>
      <ion-card-content>
        <ion-card-title>{{ photo.title }}</ion-card-title>
        <p>{{ photo.desc }}</p>  
      </ion-card-content>
      <ion-row no-padding>
        <ion-col text-center>
            <button ion-button icon-only clear small color="primary" (click)="editPhoto(photo)">
              <ion-icon name="create"></ion-icon> 
            </button>
        </ion-col>  
        <ion-col text-center>
            <button ion-button icon-only clear small color="secondary" (click)="sharePhoto(photo)">
              <ion-icon name='share-alt'></ion-icon>
            </button>
        </ion-col>  
        <ion-col text-center>
            <button ion-button icon-only clear small color="danger" (click)="deletePhoto(photo)">
              <ion-icon name="trash"></ion-icon> 
            </button>
        </ion-col>
      </ion-row>
    </ion-card>
    
    <ion-fab class="fab-pos">
        <ion-buttons end>
          <button ion-fab mini icon-only (click)="addPhoto()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
    </ion-fab>
  </ion-content>
  
  