<ion-content class="background" padding="true" scoll="false">
  <ion-card class= "card-position">
      <ion-card-header>
          <b>Photo Manager</b>
      </ion-card-header> 
      <ion-card-content>
          <ion-list no-line>
            <ion-item>
              <ion-input type = "text" placeholder="Login" [(ngModel)]="login"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type = "password" placeholder="Mot de Passe" [(ngModel)]="mdp"></ion-input>
            </ion-item>
          </ion-list>
          <button ion-button round color="dark" (click)="goToAlbum(login,mdp)">Connexion</button>
          <button ion-button full color color="Google" (click)="loginGoogle()">
            <ion-icon name="logo-google"></ion-icon>Connexion via Google
          </button>
          <button ion-button round color="dark" (click)="createUser()">
            Creer un compte
          </button>
      </ion-card-content> 
  </ion-card>
</ion-content>
