page-home {
    .background{
        background-image: url('../assets/imgs/background.jpg');
    }
    ion-card.card{
        box-shadow: none;
        background: rgba(216, 235, 203, 0.76);
        border-radius: 5px;
    }
    ion-card-header.card-header{
        color: rgb(22, 21, 20);
    }
    .item{
        margin-bottom: 10px;
        border: none;
    }
    .icon{
        padding-right: 5px;
    }
    .card-position{
        align-content: center;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 100px;
    }
 
}
